-- Create research_documents table that references your custom users table
CREATE TABLE public.research_documents (
    id bigserial NOT NULL,
    user_id bigint NOT NULL,
    title text NOT NULL,
    description text,
    document_url text NOT NULL,
    status text NOT NULL DEFAULT 'pending'::text,
    category text,
    created_at timestamp with time zone NOT NULL DEFAULT timezone('utc'::text, now()),
    updated_at timestamp with time zone NOT NULL DEFAULT timezone('utc'::text, now()),
    CONSTRAINT research_documents_pkey PRIMARY KEY (id),
    CONSTRAINT research_documents_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id),
    CONSTRAINT research_documents_status_check CHECK (status IN ('pending'::text, 'verified'::text, 'rejected'::text))
) TABLESPACE pg_default;

-- Create index for faster lookups
CREATE INDEX idx_research_documents_user_id ON public.research_documents(user_id);
CREATE INDEX idx_research_documents_status ON public.research_documents(status);
